body {
	background-color: black;
}

.chart {
	shape-rendering: crispEdges;
	background-color: black;
}

.mini text {
	font: 9px sans-serif;
	fill: white;
}

.main text {
	font: 12px sans-serif;	
	fill: white;
}

.miniItem0 {
	fill: darksalmon;
	stroke-width: 6;	
}

.miniItem1 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem2 {
	fill: darksalmon;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem3 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem4{
	fill: darksalmon;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem5 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem6 {
	fill: darksalmon;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem7 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem8 {
	fill: darksalmon;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem9 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem10 {
	fill: darksalmon;
	fill-opacity: .7;
	stroke-width: 6;	
}

.brush .extent {
	stroke: gray;
	fill: dodgerblue;
	fill-opacity: .365;
}